{% extends "base.html" %}
{% set active_page = "about" %}
{% block content %}

<div style="width:100%;"> 
  <svg width="100%" viewBox="0 0 1440 527" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g transform="translate(0,-230)">
  <defs>
    <linearGradient id="bicolored">
            <stop offset="57%" stop-color="white"/>
            <stop offset="10%" stop-color="#ffae42"/>
        </linearGradient>
  </defs>
  <path d="M774.496 497.267C336.519 583.714 75.6749 461.248 0 389.209V0H1440V427.73C1400.66 414.89 1212.47 410.821 774.496 497.267Z" fill="#3563DB"/>
  <text style="font-weight:bold;" x="15%" y="60%" fill="white" font-size ="40">Why we built FakeNewsify</text>
  
  <p style="margin-top: -230px; margin-left:320px;margin-right:320px;">
    Fake news is a widespread problem in the country, and it is vital that we make sure that we are informed in our society. According to a study from Pierce College, there were over 8.7 million engagements with fake news on Facebook. Given that we’re in an election year, it is important to ensure that readers know what information is true or not. Our website, Fakenewsify, helps to filter the real and fake news and inform the users on what articles are clickbait or not. Our website classifies new articles based on URL and also summarize the articles.
  </p>
  
  <g>    
  </svg>
</div>
{% endblock content %}
